@model List<_01_Query.Contracts.Article.ArticleQueryModel>


<section class="blog blog-widget blog-animated">

    <!--Header-->

    <header>
        <div class="container">
            <h2 class="h2 title">داستان های طراحی</h2>
            <div class="text">
                <p>
                    افکار را کاوش کنید و آنها را باز کنید <a href="blog-grid.html" class="btn btn-main">مشاهده همه</a>
                </p>
            </div>
        </div>
    </header>

    <!--Content-->

    <div class="container">

        <div class="row">

            <!--Blog item-->

            @foreach (var article in Model)
            {
                <div class="col-md-12 col-lg-4">
                    <article>
                        <a asp-page="/Article" asp-route-id="@article.Slug" class="blog-link">
                            <div class="image" style="background-image:url(ProductPictures/@article.Picture)">
                                <img src="ProductPictures/@article.Picture" alt="@article.PictureAlt" title="@article.PictureTitle" />
                            </div>
                            <div class="entry entry-table">
                                <div class="date-wrapper">
                                    <div class="date" style="font-size: 10px">
                                        @article.PublishDate
                                    </div>
                                </div>
                                <div class="title">
                                    <h2 class="h5">@article.Title</h2>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            }


        </div> <!--/row-->

    </div> <!--/container-->

</section>
