@model List<_01_Query.Contracts.Slides.SlideQueryModel>


<section class="header-content">

    <h2 class="d-none">عنصر کشویی</h2>

    <div class="container-fluid">

        <div class="owl-slider owl-carousel owl-theme" data-autoplay="true">
            <!--Slide item-->
            @foreach (var item in Model)
            {
                <div class="item d-flex align-items-center" style="background-image: url(ProductPictures/@item.Picture)">
                    <div class="container">
                        <div class="caption">
                            <div class="animated" data-start="fadeInUp">
                                <div class="promo pt-3">
                                    <div class="title title-sm p-0" style="font-size: 45px">@item.Title</div>
                                </div>
                            </div>
                            <div class="animated" data-start="fadeInUp" style="font-size: 25px">
                                @item.Heading
                            </div>
                            <div class="animated" data-start="fadeInUp" style="font-size: 20px">
                                @item.Text
                            </div>
                            <div class="animated" data-start="fadeInUp">
                                <div class="pt-3">
                                    <a href="@item.Link" target="_blank" class="btn btn-outline-light">@item.BtnText</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
               
            }
        </div> <!--/owl-slider-->
    </div>
</section>