@using _0_Framework.Application
@model _01_Query.MenuModel
@inject IAuthHelper AuthHelper
@{
    var accountInfo = @AuthHelper.CurrentAccountInfo();
}




<nav>

    <div class="container">

        <a asp-page="/Index" class="logo"><img src="~/Theme/assets/images/DigiAjili3.png" alt="" width="70" height="50" /></a>

        <!-- ==========  Top navigation ========== -->

        <div class="navigation navigation-top clearfix">


            <ul>
                <!--add active class for current page-->
                <li class="left-side"><a asp-page="/Index" class="logo-icon"><img src="~/Theme/assets/images/DigiAjili3.png" alt="Alternate Text" width="70" height="50" /></a></li>
                <li><a href="javascript:void(0);" class="open-login"><i class="icon icon-user"></i></a></li>
                <li><a href="javascript:void(0);" class="open-search"><i class="icon icon-magnifier"></i></a></li>
                <li><a href="javascript:void(0);" class="open-cart"><i class="icon icon-cart"></i> <span id="cart_items_count">0</span></a></li>
            </ul>
        </div>

        <!-- ==========  Main navigation ========== -->

        <div class="navigation navigation-main">
            <a  class="open-login"><i class="icon icon-user"></i></a>
            <a class="open-search"><i class="icon icon-magnifier"></i></a>
            <a  class="open-cart"><i class="icon icon-cart"></i> <span id="cart_items_count">0</span></a>
            <a  class="open-menu"><i class="icon icon-menu"></i></a>

            <div class="floating-menu">
                <!--mobile toggle menu trigger-->
                <div class="close-menu-wrapper">
                    <span class="close-menu"><i class="icon icon-cross"></i></span>
                </div>
                <ul>
                    <li>
                        <a asp-page="/Index">خانه</a>
                    </li>
                    <li>
                        <a asp-page="/Products">محصولات<span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
                        <div class="navbar-dropdown navbar-dropdown-single">
                            <div class="navbar-box">
                                <div class="box-full">
                                    <div class="box clearfix">
                                        <ul>
                                            @foreach (var productCategory in Model.ProductCategories)
                                            {
                                                <li>
                                                    <a asp-page="/ProductCategory" asp-route-id="@productCategory.Slug">@productCategory.Name</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a asp-page="/Blog">مقالات<span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
                        <div class="navbar-dropdown navbar-dropdown-single">
                            <div class="navbar-box">
                                <div class="box-full">
                                    <div class="box clearfix">
                                        <ul>
                                            @foreach (var category in Model.ArticleCategories)
                                            {
                                                <li>
                                                    <a asp-page="/ArticleCategory" asp-route-id="@category.Slug">@category.Name</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a asp-page="/Contact">تماس با ما</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- ==========  Search wrapper ========== -->

        <div class="search-wrapper">
            <form method="get" asp-page="/Search">
                <input class="form-control" type="search" name="searchModel" id="searchModel" placeholder="جستجو کردن..." />
                <button class="btn btn-outline-dark btn-sm">جستجو کن</button>
            </form>

        </div>

        <!-- ==========  Login wrapper ========== -->
        @if (AuthHelper.IsAuthenticated())
        {
    <div class="login-wrapper">
        <div class="h5">کاربر @accountInfo.Fullname شما با موفقیت وارد حساب کاربری خود شده اید!</div>
        <a asp-page="/Account" asp-page-handler="Logout">خروج</a>

    </div>
        }
        else
        {
            <div class="login-wrapper">
                <div class="h5">کاربر عزیز باعث افتخار است که برای خرید ما را انتخاب کرده اید!! از لینک زیر وارد شوید</div>
                <a asp-page="/Account">ورود-ثبت نام</a>
            </div>
        }


        <!-- ==========  Cart wrapper ========== -->

        <div class="cart-wrapper">
            <div class="checkout">
                <div class="clearfix">

                    <!--cart item-->

                    <div class="row" id="cart_items_wrapper">
                        
                    </div>

                    <!--cart navigation -->

                    <div class="cart-block-buttons clearfix">
                        <div class="row">
                            <div class="col-sm-6">
                                <a asp-page="/Products" class="btn btn-outline-info">به خرید ادامه دهید</a>
                            </div>
                            <div class="col-sm-6 text-right">
                                <a asp-page="/Cart" class="btn btn-outline-warning"><span class="icon icon-cart"></span> تسویه حساب</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>
