@model List<_01_Query.Contracts.Product.ProductQueryModel>


<section class="products">

    <!--Header-->

    <header>
        <div class="container">
            <h2 class="title">تخفیفات ویژه!!</h2>
            <div class="text">
                <p>
                   از جدید ترین محصولات ما را تجربه کنید... <a asp-page="/Products" class="btn btn-main">مشاهده همه</a>
                </p>
            </div>
        </div>
    </header>

    <!--Content-->

    <div class="container">

        <div class="row">

            <!--Product item-->

            @foreach (var product in Model)
            {
                <div class="col-6 col-lg-4">
                    <article>
                        <div class="info">
                            <span class="add-favorite">
                                <a href="javascript:void(0);" data-title="افزودن به علاقه مندی ها" data-title-added="افزودن به  لیست علاقه مندی ">
                                    <i class="icon icon-heart"></i>
                                </a>
                            </span>
                        </div>
                        <div class="btn btn-add">
                            <a class="icon icon-cart" style="color: white" asp-page="/Product" asp-route-id="@product.Slug"></a>
                        </div>
                        <div class="figure-grid">
                            @if (product.HasDiscount)
                            {
                                <span class="badge badge-warning" style="font-size: 110%">@product.DiscountRate%</span>
                            }
                            <div class="image">
                                <a asp-page="/Product" asp-route-id="@product.Slug">
                                    <img src="ProductPictures/@product.Picture" alt="@product.PictureAlt" title="@product.PictureTitle"/>
                                </a>
                            </div>
                            <div class="text">
                                <h2 class="title h4">
                                    <a asp-page="/Product" asp-route-id="@product.Slug">@product.Name</a>
                                </h2>
                                @if (product.HasDiscount)
                                {
                                    <sub style="text-decoration: line-through">@product.Price تومان</sub>
                                    <sup >@product.PriceWithDiscount تومان</sup>
                                }
                                else
                                {
                                    <sub>@product.Price تومان</sub>
                                }
                                <span class="description clearfix">
                                    @product.ShortDescription
                                </span>
                            </div>
                        </div>
                    </article>
                </div>
            }

        </div> <!--/row-->

    </div>

</section>
