@page "{id}"
@model ServiceHost.Pages.ArticleModel
@{
    ViewData["Title"] = Model.Article.Title;
    ViewData["keywords"] = Model.Article.Keywords;
    ViewData["metaDescription"] = Model.Article.MetaDescription;
}

<section class="blog pt-0">

    <!--Header-->

    <header>
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">خانه</a></li>
                <li class="breadcrumb-item"><a asp-page="/ArticleCategory" asp-route-id="@Model.Article.CategorySlug">@Model.Article.CategoryName</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Article.Title</li>
            </ol>
            <h1 class="title">@Model.Article.Title</h1>
        </div>
    </header>



    <!--Blog content-->

    <div class="container">

        <div class="row">

            <div class="col-lg-9">

                <!--Blog post-->

                <div class="blog-post">


                    <!--Blog content-->

                    <div class="blog-post-content pt-0">

                        <!--Title-->

                        <div class="blog-post-title">

                            <!--<h1 class="h1 blog-title">
                                In Virtual Reality, How Much <br />Body Do You Need?
                            </h1>-->

                            <h2 class="blog-subtitle h5">
                                @Model.Article.ShortDescription
                            </h2>

                            <hr />

                            <!--Info-->

                            <div class="blog-info">
                                <div class="entry">
                                    <i class="fa fa-calendar"></i>
                                    <span>@Model.Article.PublishDate</span>
                                </div>
                                <div class="entry">
                                    <i class="fa fa-comments"></i>
                                    @if (Model.Article != null)
                                    {
                                        <span>@Model.Article.Comments.Count نظر </span>
                                    }

                                </div>
                            </div>

                            <hr />

                        </div>

                        <!--Main image-->

                        <div class="blog-image-main">
                            <img src="~/ProductPictures/@Model.Article.Picture" alt="@Model.Article.PictureAlt" title="@Model.Article.PictureTitle" />
                        </div>


                        <!--Blog text-->

                        <div class="blog-post-text">
                            @Html.Raw(Model.Article.Description)
                        </div>
                        <!--Blog footer info-->

                        <div class="blog-info blog-info-bottom">

                            <ul>
                                <li>
                                    <i class="fa fa-tag"></i>
                                    <span>
                                        @foreach (var tag in Model.Article.KeywordList)
                                        {
                                            <a asp-page="/Search" asp-route-searchModel="@tag">@tag،</a>
                                        }
                                    </span>
                                </li>
                            </ul>

                        </div> <!--/blog-info-->

                    </div> <!--/blog-post-content-->

                </div><!--blog-post-->

                <div class="comments">

                    <div class="comment-header">
                        <div class="h3 m-0">نظرات اخیر</div>
                        <span>@Model.Article.Comments.Count @Model.Article.Title</span>
                    </div>

                    <div class="comment-wrapper">

                        <!--Comment-->

                        <div class="comment-block">

                            <!--Comment user-->
                            <!--<div class="comment-user">
                                <div>
                                    <img src="~/Theme/assets/images/user.jpg" alt="Alternate Text" width="70" />
                                </div>
                                <div>
                                    <h5>
                                        <span>جان دو</span>
                                        <span class="pull-right">
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <small>1396.05.03</small>
                                    </h5>
                                </div>
                            </div>-->
                            <!--Comment description-->
                            <!--<div class="comment-desc">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                                </p>
                            </div>-->
                            <!--Comment reply-->
                            <!--<div class="comment-block">
                                <div class="comment-user">
                                    <div>
                                        <img src="assets/images/user.jpg" alt="Alternate Text" width="70" />
                                    </div>
                                    <div>
                                        <h5>
                                            مدیر
                                            <small>08.05.1396</small>
                                        </h5>
                                    </div>
                                </div>
                                <div class="comment-desc">
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                                    </p>
                                </div>
                            </div>-->
                            <!--/reply-->
                        </div>

                        <!--Comment-->

                        @foreach (var comment in Model.Article.Comments)
                        {
                            <div class="comment-block">

                                <!--Comment user-->

                                <div class="comment-user">
                                    <div>
                                        <img src="~/Theme/assets/images/user.jpg" alt="@comment.Name" title="@comment.Name" width="70" />
                                    </div>
                                    <div>
                                        <h5>
                                            <span>@comment.Name</span>

                                            <small>@comment.CreationDate</small>
                                        </h5>
                                    </div>
                                </div>

                                <!--Comment description-->

                                <div class="comment-desc">
                                    <p>
                                        @comment.Message
                                    </p>
                                </div>
                            </div>
                        }

                    </div><!--/comment-wrapper-->
                    <!--Add new comment-->

                    <div class="comment-add" id="review">

                        <div class="comment-reply-message">
                            <div class="h3 title">نظر دهید </div>
                            <p>آدرس ایمیل شما منتشر نخواهد شد.</p>
                        </div>

                        <form method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" value="" placeholder="اسم شما" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" value="" placeholder="ایمیل شما" />
                            </div>
                            <div class="form-group">
                                <textarea rows="10" name="message" class="form-control" placeholder="نظر شما"></textarea>
                            </div>
                            <input type="hidden" name="ownerRecordId" value="@Model.Article.Id" />
                            <input type="hidden" name="articleSlug" value="@Model.Article.Slug" />
                            <input type="hidden" name="parentId" id="commentParentId" value="" />
                            <div class="clearfix text-center">
                                <button type="submit" class="btn btn-outline-dark">ثبت نظر</button>
                            </div>
                        </form>

                    </div><!--/comment-add-->

                </div> <!--/comments-->


            </div><!--col-sm-8-->
            <!--Blog menu-->

            <div class="col-lg-3">

                <aside>



                    <!--Box categories-->

                    <div class="box box-animated box-categories">
                        <h5 class="title">دسته های وبلاگ</h5>
                        <ul>
                            @foreach (var category in Model.LatestArticleCategories)
                            {
                                <li><a asp-page="/ArticleCategory" asp-route-id="@category.Slug">@category.Name</a></li>
                            }
                        </ul>
                    </div>

                    <!--Box posts-->

                    <div class="box box-animated box-posts">
                        <h5 class="title">پست های اخیر</h5>
                        <ul>
                            @foreach (var article in Model.LatestArticles)
                            {
                                <li>
                                    <a asp-page="/Article" asp-route-id="@article.Slug">
                                        <span class="date">
                                            <img src="~/ProductPictures/@article.Picture" alt="@article.PictureAlt" title="@article.PictureTitle" style="width: 70px; height: 55px;" />
                                        </span>
                                        <span class="text">@article.Title</span>
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>

                    <!--Box tags-->

                    <div class="box box-tags">
                        <h5 class="title">تگ ها: </h5>
                        <ul class="clearfix">
                            @foreach (var tag in Model.Article.KeywordList)
                            {
                                <li><a asp-page="/Search" asp-route-searchModel="@tag" class="btn btn-outline-secondary btn-sm">@tag</a></li>
                            }
                        </ul>
                    </div>

                </aside>

            </div><!--/col-lg-3-->

        </div> <!--/row-->

    </div><!--/container-->

</section>