@page
@using _0_Framework.Application
@model ServiceHost.Pages.CheckOutModel
@inject IAuthHelper _authHelper
@{
    var AccountName = _authHelper.CurrentAccountInfo().Fullname;
    ViewData["Title"] = "تایید سبد خرید / پرداخت";
    ViewData["Image"] = "Theme/assets/images/DigiAjili3 (2).ico";
    ViewData["keywords"] = "خرید پسته,پسته تازه,پسته مه ولات,پسته خشک,پسته اکبری";
    ViewData["metaDescription"] = "خرید انواع پسته و آجیل,پسته اکبری";
}


<section class="checkout">

    <form asp-page-handler="Pay" method="post">

        <header>
            <div class="container">
                <h2 class="title">تحویل تسویه حساب</h2>
                <div class="text">
                    <p>جزئیات سفارش خود را تأیید کنید</p>
                </div>
            </div>
        </header>


        <div class="step-wrapper">

            <div class="container">

                <div class="stepper">
                    <ul class="row">
                        <li class="col-6 active">
                            <span data-text="اقلام سبد خرید"></span>
                        </li>
                        <li class="col-6 active">
                            <span data-text="تایید سبد خرید و پرداخت"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- === left content === -->

        <div class="container">


            <!-- ========================  Delivery ======================== -->

            <div class="cart-wrapper">

                <div class="note-block">
                    <div class="row">


                        <div class="col-md-6">


                            <div class="login-wrapper">

                                <div class="login-block login-block-signup">

                                    <div class="h4">اطلاعات ارسال محصول</div>

                                    <hr />

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="name" class="form-control" readonly="" placeholder="@AccountName">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="address" class="form-control" placeholder="آدرس : *">
                                            </div>
                                        </div>

                                        <div class="col-md-12">

                                            <div class="form-group">
                                                <input type="text" name="postalcode" class="form-control" placeholder="کد پستی:">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="number" name="mobile" class="form-control" placeholder="شماره تماس: *">
                                            </div>
                                        </div>

                                        <span class="checkbox">
                                            <input type="checkbox" id="checkBoxId2">
                                            <label for="checkBoxId2">اشتراک در خبرنامه های جالب و نکات عالی</label>
                                        </span>
                                        <hr />
                                    </div>
                                </div>
                            </div> <!--/signup-->
                        </div> <!--/login-wrapper-->
                    </div> <!--/col-md-6-->
                </div>
            </div>
        </div>

        <hr />


        <div class="cart-wrapper">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">نام</th>
                        <th scope="col">قیمت واحد</th>
                        <th scope="col">تعداد</th>
                        <th scope="col">کل</th>
                        <th scope="col">تخفیف</th>
                        <th scope="col">سود از تخفیف</th>
                        <th scope="col">قابل پرداخت</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Cart.Items)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.UnitPrice.ToMoney()</td>
                            <td>@item.Count</td>
                            <td>@item.TotalItemPrice.ToMoney()</td>
                            <td>@item.DiscountRate</td>
                            <td>@item.DiscountAmount.ToMoney()</td>
                            <td>@item.ItemPayAmount.ToMoney()</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        <!--cart prices -->

        <div class="row">
            <div class="col-md-4  offset-md-8">

                <!-- discount -->

                <div class="cart-block cart-block-footer clearfix">
                    <div>
                        <strong>مبلغ کل</strong>
                    </div>
                    <div>
                        <span> @Model.Cart.TotalAmount.ToMoney() تومان</span>
                    </div>
                </div>

                <!-- discount -->

                <div class="cart-block cart-block-footer clearfix">
                    <div>
                        <strong>مبلغ تخفیف</strong>
                    </div>
                    <div>
                        <span> @Model.Cart.DiscountAmount.ToMoney() تومان</span>
                    </div>
                </div>

                <!-- discount -->

                <div class="cart-block cart-block-footer clearfix">
                    <div>
                        <strong>مبلغ قابل پرداخت</strong>
                    </div>
                    <div>
                        <span> @Model.Cart.PayAmount.ToMoney() تومان</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- cart final price -->

        <div class="clearfix">
            <div class="cart-block cart-block-footer cart-block-footer-price clearfix">
                <div>
                    <div class="h2 title"> @Model.Cart.PayAmount.ToMoney() تومان</div>
                </div>
            </div>
        </div>

        <!-- ========================  Cart navigation ======================== -->

        <div class="clearfix">
            <div class="row">
                <div class="col-6">
                    <a asp-page="/Products" class="btn btn-clean-dark"><span class="icon icon-chevron-right"></span> به خرید ادامه دهید</a>
                </div>
                <div class="col-6 text-left">
                    <button asp-page-handler="Pay" class="btn btn-clean-dark">پرداخت</button>
                </div>
            </div>
        </div>
    </form>

</section>