@page "{id}"
@model ServiceHost.Pages.ProductModel
@{
    ViewData["Title"] = Model.Product.Name;
    ViewData["Image"] = $"ProductPictures/{@Model.Product.Picture}";
    ViewData["keywords"] = Model.Product.Keywords;
    ViewData["metaDescription"] = Model.Product.MetaDescription;
}

<section class="product pt-0">

    <header>
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-page="/Index">خانه</a></li>
                <li class="breadcrumb-item"><a asp-page="/ProductCategory" asp-route-id="@Model.Product.CategorySlug">@Model.Product.Category</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Product.Name</li>
            </ol>
            <h1 class="title">@Model.Product.Name</h1>
            <div class="text">
                <h2 style="font-size: 15px">@Model.Product.ShortDescription</h2>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="container">
            <div class="row product-flex">

                <div class="col-lg-4 product-flex-info">
                    <div class="clearfix">

                        <div class="clearfix">

                            <!--price wrapper-->

                            <div class="price">
                                <span class="h3">
                                    @if (Model.Product.HasDiscount)
                                    {
                                        <span style="text-decoration: line-through; font-size: 20px">@Model.Product.Price تومان</span>
                                        <span style="font-size: 30px"> @Model.Product.PriceWithDiscount تومان</span>
                                    }
                                    else
                                    {
                                        <span style="font-size: 30px"> @Model.Product.Price تومان</span>
                                    }
                                </span>
                            </div>

                            <!--<hr />-->

                            <!--info-box-->
                            <!--<div class="info-box">
                                <span><strong>کارساز</strong></span>
                                <span>نام تجاری </span>
                            </div>
                            <div class="info-box">
                                <span><strong>مواد</strong></span>
                                <span>چوب ، چرم ، اکریلیک</span>
                            </div>-->


                            <hr />
                            <!--info-box-->

                            <div class="info-box">
                                <span>
                                    تعداد
                                </span>
                                <span>
                                    <span class="row">
                                        <span class="col-6">
                                            <input type="number" value="1" min="1" id="productCount" class="form-control">
                                        </span>
                                        <span class="col-6">
                                            <a class="btn btn-success" style="color: linen" onclick="addToCart('@Model.Product.Id', '@Model.Product.Name', '@Model.Product.DoublePrice', '@Model.Product.Picture')">افزودن به سبد خرید</a>
                                        </span>
                                    </span>
                                </span>
                            </div>

                            <hr />

                            <div class="info-box">
                                <span>
                                    <div class="alert alert-warning">برای خرید کلی با شماره پشتیبانی 09158221303 تماس بگیرید</div>
                                </span>
                            </div>

                            <hr />
                            <div class="info-box info-box-addto added">
                                <span>
                                    <i class="add"><i class="fa fa-heart-o"></i> اضافه کردن به علاقه مندی ها</i>
                                    <i class="added"><i class="fa fa-heart"></i> از علاقه مندی ها حذف شود</i>
                                </span>
                            </div>

                            <div class="info-box info-box-addto">
                                <span>
                                    <i class="add"><i class="fa fa-eye-slash"></i> افزودن به لیست تماشا</i>
                                    <i class="added"><i class="fa fa-eye"></i>حذف از لیست تماشا</i>
                                </span>
                            </div>

                            <div class="info-box info-box-addto">
                                <span>
                                    <i class="add"><i class="fa fa-star-o"></i> به کلکسیون اضافه کن</i>
                                    <i class="added"><i class="fa fa-star"></i> حذف از مجموعه</i>
                                </span>
                            </div>

                        </div> <!--/clearfix-->
                    </div> <!--/product-info-wrapper-->
                </div> <!--/col-lg-4-->
                <!--product item gallery-->

                <div class="col-lg-8 product-flex-gallery">

                    <!--Product gallery-->

                    <div class="owl-product-gallery owl-carousel owl-theme open-popup-gallery">
                        <img src="~/ProductPictures/@Model.Product.Picture" alt="@Model.Product.PictureAlt" title="@Model.Product.PictureTitle" />
                        @foreach (var picture in Model.Product.Pictures)
                        {
                            <img src="~/ProductPictures/@picture.Picture" alt="@picture.PictureAlt" title="@picture.PictureTitle" />
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>





<section class="product-details">

    <div class="container">

        <!--Tab links-->

        <ul class="nav nav-pills nav-pills-flat justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab-review-tab" data-toggle="tab" href="#tab-review" role="tab">
                    نظرات
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-desc-tab" data-toggle="tab" href="#tab-desc" role="tab">
                    توضیحات
                </a>
            </li>
        </ul>

        <!--Tab content-->

        <div class="tab-content" id="pills-tabContent">

            <!--Tab description-->

            <div class="tab-pane fade" id="tab-review">

                <div class="col-md-8  m-auto">

                    <!--Comments-->

                    <div class="comments">

                        <div class="comment-header">
                            <div class="h3 m-0">نظرات اخیر</div>
                            <span>@Model.Product.Comments.Count</span>
                        </div>

                        <div class="comment-wrapper">

                            <!--Comment-->

                            <div class="comment-block">

                                <!--Comment user-->
                                <!--<div class="comment-user">
                                    <div>
                                        <img src="~/Theme/assets/images/user.jpg" alt="Alternate Text" width="70" />
                                    </div>
                                    <div>
                                        <h5>
                                            <span>جان دو</span>
                                            <span class="pull-right">
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            <small>1396.05.03</small>
                                        </h5>
                                    </div>
                                </div>-->
                                <!--Comment description-->
                                <!--<div class="comment-desc">
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                                    </p>
                                </div>-->
                                <!--Comment reply-->
                                <!--<div class="comment-block">
                                    <div class="comment-user">
                                        <div>
                                            <img src="assets/images/user.jpg" alt="Alternate Text" width="70" />
                                        </div>
                                        <div>
                                            <h5>
                                                مدیر
                                                <small>08.05.1396</small>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="comment-desc">
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                                        </p>
                                    </div>
                                </div>-->
                                <!--/reply-->
                            </div>

                            <!--Comment-->

                            @foreach (var comment in Model.Product.Comments)
                            {
                                <div class="comment-block">

                                    <!--Comment user-->

                                    <div class="comment-user">
                                        <div>
                                            <img src="~/Theme/assets/images/user.jpg" alt="@comment.Name" title="@comment.Name" width="70" />
                                        </div>
                                        <div>
                                            <h5>
                                                <span>@comment.Name</span>

                                                <small>@comment.CreationDate</small>
                                            </h5>
                                        </div>
                                    </div>

                                    <!--Comment description-->

                                    <div class="comment-desc">
                                        <p>
                                            @comment.Message
                                        </p>
                                    </div>
                                </div>
                            }

                        </div><!--/comment-wrapper-->
                        <!--Add new comment-->

                        <div class="comment-add" id="review">

                            <div class="comment-reply-message">
                                <div class="h3 title">نظر دهید </div>
                                <p>آدرس ایمیل شما منتشر نخواهد شد.</p>
                            </div>

                            <form method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" value="" placeholder="اسم شما" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" value="" placeholder="ایمیل شما" />
                                </div>
                                <div class="form-group">
                                    <textarea rows="10" name="message" class="form-control" placeholder="نظر شما"></textarea>
                                </div>
                                <input type="hidden" name="productSlug" value="@Model.Product.Slug">
                                <input type="hidden" name="OwnerRecordId" value="@Model.Product.Id">
                                <div class="clearfix text-center">
                                    <button type="submit" class="btn btn-outline-dark">ثبت نظر</button>
                                </div>
                            </form>

                        </div><!--/comment-add-->

                    </div> <!--/comments-->
                    <!--/comments-->

                </div> <!--/col-md-8-->

            </div> <!--/tab-pane -->
            <!--Tab specification-->

            <div class="tab-pane fade show active" id="tab-desc">

                <div class="col-md-8  m-auto ">

                    <div>
                        <div class="h3 m-0"> مشخصات محصول</div>
                        <span>اطلاعات تکمیلی</span>
                    </div>

                    <hr />

                    <div class="row">
                       @Html.Raw(Model.Product.Description)
                    </div>
                    <!--/row-->

                </div> <!--/col-md-8-->

            </div> <!--/tab-pane -->
            <!--Tab review-->

        </div> <!--/tab-content -->
    </div>

</section>






<section class="products">

    <header>
        <div class="container">
            <h2 class="title">جدید ترین محصولات آجیلی</h2>
            <div class="text">
                <p>دیدین دیگر محصولات دیجی آجیلی... <a asp-page="/Products" class="btn btn-main">مشاهده همه</a>
                </p>
            </div>
        </div>
    </header>

    <div class="container">

        <div class="row">

            @foreach (var product in Model.LatestProducts)
            {
                <div class="col-6 col-lg-4">
                    <article>
                        <div class="info">
                            <span class="add-favorite">
                                <a href="javascript:void(0);" data-title="افزودن به علاقه مندی ها" data-title-added="افزودن به  لیست علاقه مندی ">
                                    <i class="icon icon-heart"></i>
                                </a>
                            </span>

                        </div>
                        <div class="btn btn-add">
                            <i class="icon icon-cart"></i>
                        </div>
                        <div class="figure-grid">
                            <span class="badge badge-info">جدید</span>
                            @if (product.HasDiscount)
                            {
                                <span class="badge badge-warning" style="font-size: 110%">@product.DiscountRate%-</span>
                            }
                            <div class="image">
                                <a asp-page="/Product" asp-route-id="@product.Slug">
                                    <img src="~/ProductPictures/@product.Picture" alt="@product.PictureAlt" title="@product.PictureTitle" />
                                </a>
                            </div>
                            <div class="text">
                                <h2 class="title h4">
                                    <a asp-page="/Product" asp-route-id="@product.Slug">@product.Name</a>
                                </h2>
                                <sub>@product.Price تومان</sub>
                                @if (product.HasDiscount)
                                {
                                    <sup>@product.PriceWithDiscount تومان</sup>
                                }
                                <span class="description clearfix">
                                    @product.ShortDescription
                                </span>
                            </div>
                        </div>
                    </article>
                </div>
            }


        </div> <!--/row-->

        <div class="wrapper-more">
            <a asp-page="/Products" class="btn btn-main btn-sm">مشاهده همه محصولات</a>
        </div>

    </div> <!--/container-->

</section>