@page
@model ServiceHost.Pages.SearchModel
@{
    ViewData["Title"] = $"نتیجه جستجو : {Model.SearchModelInput}";
}

@if (Model.Products.Count >= 1)
{
    <section class="products pt-0">
        <!--Header-->

        <header>
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Index">خانه</a></li>
                    <li class="breadcrumb-item active" aria-current="page">جستجو</li>
                </ol>
                <h1 class="title">جستجو برای :@Model.SearchModelInput</h1>
            </div>
        </header>

        <!-- ======================== Icons ======================== -->
        <!--Content-->

        <div class="container">
            <div class="row">

                <!--Right content-->

                <div class="col-12">




                    <!--Products collection-->

                    <div class="row">

                        <!--Product item-->

                        @foreach (var product in Model.Products)
                        {
                            <div class="col-6 col-lg-4">
                                <article>
                                    <div class="info">
                                        <span class="add-favorite">
                                            <a href="javascript:void(0);" data-title="افزودن به علاقه مندی ها" data-title-added="افزودن به  لیست علاقه مندی ">
                                                <i class="icon icon-heart"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="btn btn-add">
                                        <i class="icon icon-cart"></i>
                                    </div>
                                    <div class="figure-grid">
                                        @if (product.HasDiscount)
                                        {
                                            <span class="badge badge-warning" style="font-size: 110%">@product.DiscountRate%</span>
                                        }
                                        <div class="image">
                                            <a asp-page="/Product" asp-route-id="@product.Slug">
                                                <img src="~/ProductPictures/@product.Picture" alt="@product.PictureAlt" title="@product.PictureTitle"/>
                                            </a>
                                        </div>
                                        <div class="text">
                                            <h2 class="title h4">
                                                <a asp-page="/Product" asp-route-id="@product.Slug">@product.Name</a>
                                            </h2>
                                            <sub>@product.Price تومان</sub>
                                            @if (product.HasDiscount)
                                            {
                                                <sup>@product.PriceWithDiscount تومان</sup>
                                            }
                                            <span class="description clearfix">
                                                @product.ShortDescription
                                            </span>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        }

                    </div>

                    <!--Pagination-->

                    <div class="pagination-wrapper">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link active" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                        </ul>
                    </div>

                </div> <!--/product items-->

            </div><!--/row-->

        </div>

    </section>
}
else
{
    <section class="not-found">
        <div class="container">
            <h1 class="title" data-title="Page not found!">404</h1>
            <div class="h4 subtitle">متاسفانه محصول با این مشخصات یافت نشد.</div>
            <p></p>
            <p>کلیک <a asp-page="/Index">اینجا</a> برای رفتن به صفحه اول؟ </p>
        </div>
    </section>
}





