@using _01_Query.Contracts.ProductCategory
@model List<ProductCategoryQueryModel>

<section class="blog blog-block">

    <!--Header-->

    <header>
        <div class="container">
            <h2 class="title">دسته بندی محصولات ویژه</h2>
            <div class="text">
                <p style="font-size: 16px">تازه و قیمت مناسب فقط با دیجی آجیلی</p>
            </div>
        </div>
    </header>

    <!--Content-->

    <div class="container">

        <div class="scroll-wrapper">

            <div class="row scroll text-center">

                <!--Item-->
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <article data-3d>
                            <a asp-page="/ProductCategory" asp-route-id="@item.Slug">
                                <div class="image">
                                    <img src="ProductPictures/@item.Picture" alt="@item.PictureAlt" title="@item.PictureTitle" />
                                </div>
                                <div class="entry entry-block">
                                    <div class="title">
                                        <h2 class="h4" asp-page="/ProductCategory" asp-route-id="@item.Slug">@item.Name</h2>
                                    </div>
                                    <div class="description">
                                        <h3>
                                            @item.Description
                                        </h3>
                                    </div>
                                </div>
                                <div class="show-more">
                                    <p class="btn btn-secondary" asp-page="/ProductCategory" asp-route-id="@item.Slug">دیدن محصولات</p>
                                </div>
                            </a>
                        </article>
                    </div>
                }

            </div><!--/row-->
        </div>

    </div><!--/container-->

</section>